body{
    background-image: url(sea-sky-sunset-water.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: Ariel;
    color: White
}

#File{
}



#Heading{
    text-align: center;
    font-size: 20px;
    padding: 20px 0px 50px 0px;
}

#Content{
    margin: auto;
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 20px 15px;
    background: rgb(0,0,0,0.5);
}

.title{
    text-align: center;
}

.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 123px;
    left: calc(50% - 35px);

}

.textbox{
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    font-size: 16px;
    color: white;
    width: 100%;
    margin-bottom: 30px;
}

::placeholder{
    color: #f7fbff;
    opacity: 0.4;
}


.loginBtn{
    background-color: #b3e6ff;
    border: none;
    padding: 10px 32px;
    margin-top: 40px;

}